* {
    box-sizing: border-box;
}
body {
    background: #200;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.contenedor {
    max-width: 1300px;
    width: 96%;
    background: #fff;
    margin: 0 auto;
}
.logo {
    width: 100%;
    background: #740;
    padding: 10px;
}
.logo__titulo {
    font-size: 48px;
    color: #fff;
    text-align: center;
}

.header__on, .header__off {
    color: #fff;
    font-size: 36px;
    margin-left: 20px;
    padding: 0 10px;
    background: #740;
    border: 3px solid;
    cursor: pointer;
    display: none;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #520;
    padding: 15px;
    list-style: none;
}
.menu__link {
    color: #fff;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}
.menu__link:hover {
    background: rgb(34,0,0,.9);
    border-radius: 16px;
}
main {
    width: 100%;
    display: flex;
}
.articulos {
    width: 65%;
    background: #540;
}
.articulo {
    position: relative;
}
.articulo__titulo {
    font-weight: normal;
    font-size: 32px;
    color: #fff;
    margin-top: 16px;
    text-align: center;
}
.articulo__texto {
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}
.articulo__imagen {
    width: 98%;
    margin-left: 1%;
    border: 5px solid #000;
}
.articulo__fecha {
    position: absolute;
    top: 60px;
    left: 16px;
    width: 70px;
    height: 80px;
    background: #345;
    padding: 10px 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgb(51,68,85);
}
.articulo__numero-dia {
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.articulo__nombre-dia {
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    background: #320;
}
.info__titulo {
    font-weight: normal;
    font-size: 32px;
    color: #fff;
    margin-top: 24px;
    text-align: center;
}
.info__texto {
    width: 90%;
    font-size: 20px;
    background: #000;
    color: #fff;
    margin: 0 auto;
    margin-top: 24px;
   line-height: 1.5;
    text-align: center;
    border: 2px solid;
}
.footer {
    width: 100%;
    margin-bottom: 12px;
    padding: 20px;
    background: #600;
}
.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot__direccion {
    color: #fff;
}
.foot__imagen {
    width: 36px;
}
@media (max-width:570px) {
    .header__on, .header__off {
        display: inline-block;
    }
    .menu {
        position: absolute;
        top: 12.5em;
        left: 80px;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 70%;
        background: rgba(85,34,0,.9);
        z-index: 100;
        border-radius: 16px;
        transform: scale(0);
        transform-origin: top center;
        transition: all .5s;
    }
    .menu:target {
        transform: scale(1);
    }
    .articulos {
        width: 100%;
    }
    .articulo__fecha {
        top: 60px;
        left: 0;
        width: 50px;
        height: 60px;
    }
    .articulo__numero-dia {
        font-size: 24px;
    }
    .articulo__nombre-dia{
        font-size: 12px;
    }
    .info {
        display: none;
    }
    .foot {
        justify-content: space-evenly;
    }
}
